<h2><%=@user.name %></h2>
<dl>
  <dt>Handle</dt>
  <dd><%=@user.handle %></dd>
  <dt>Birthdate</dt>
  <dd><%=@user.birthdate %></dd>
  <dt>Region</dt>
  <dd><%=@user.region %></dd>
  <dt>Interests</dt>
  <dd><%=@user.interests %></dd>
  <dt>Company Description</dt>
  <dd><%=@user.company_description %></dd>
</dl>